body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0;
    margin: 0; 
}

header {
    background-color:#069e2d;
    padding: 30px;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 50px;
}

.menuTopo {
    text-align: center;
    background-color: #04773b;
    overflow: hidden;
    
}

.menuTopo ul {
    display:inline-block;
    list-style: none;
    padding: 5px;
    margin: 0px;
}   

.menuTopo ul li {
    float: left;
    
}

.menuTopo a {
    display: block;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    float: right;
}

.menuTopo a:hover {
    background-color: #04775b;
    border-radius: 5px;
    margin: 0px;
    font-weight: bold;
}
.corpo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
table{
    border-collapse: collapse;
}
table td, table th {
    text-align: center;
    border: 1px solid gray;
    padding: 10px;
    width: 50px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #069e2d;
    color: aliceblue;
    position: flex;
    bottom: 0;
    width: 97.9%;
}